<link rel="stylesheet" href="/stylesheets/login.css">
<section class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <img src="/images/logo.png"
                    style="width: 185px;" alt="logo">
                  {{!-- <h4 class="mt-1 mb-5 pb-1">Welcome Back..</h4> --}}
                </div>

                <form  action="/forget" method="post">
                  <p>Please enter your valid mail account</p>

                  <div class="form-outline mb-4">
                    <input type="email" id="form2Example11" name="email" class="form-control"
                      placeholder="email address" 
                      required/>
                    {{!-- <label class="form-label"  for="form2Example11">Email</label> --}}
                  </div>

                  <div class="form-outline mb-4">
                    <input type="submit" name="password" value="Send Reset Link" class="form-control"
                    required
                     />
                    
                  </div>
 {{#if  message}}
        <p style="color:rgb(46, 70, 46);">{{message}}</p>
                                {{/if}}   
                  <div class="text-center pt-1 mb-5 pb-1">
                    {{!-- <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit"
                    value="Login">Log
                      in</button>
                       {{#if  message}}
        <p style="color:green;">{{message}}</p>
                                {{/if}}   --}}
                    {{!-- <a class="text-muted" href="/forget">Reset Password?</a> --}}
                  </div>

             

                </form>

              </div>
            </div>
          
          </div>
        </div>
      </div>
    </div>
  </div>
</section>